.navigation{

  &__check-box{
    display: none;

  }

  &__button{
    background-color: $color-white;
    position: fixed;
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    top: 6rem;
    right: 6rem;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    z-index: 2000;
    text-align: center;
    transition: all 0.15s;

    cursor: pointer;


    @include respond(tab-port){
      top: 4rem;
      right: 4rem;
    }
    @include respond(phone){
      top: 3rem;
      right: 3rem;
    }

    &:hover{
      transform: translateY(-1px);
      box-shadow: 0 2.5rem 5rem rgba($color-black, .2);
    }
    &:active{
      transform: translateY(2px);
      box-shadow: 0 1rem 2rem rgba($color-black, .3);
    }
    

    &:hover .navigation__icon::before{
      transform: translateY(-2px) ;
      
    }
    &:hover .navigation__icon::after{
      transform: translateY(2px) ;
    }
    &:hover .navigation__icon{
      transform: scale(1.2);
    }

  }

  &__background{
    position: fixed;
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    top: 6.5rem;
    right: 6.5rem;

    background-image: radial-gradient( $color-primary-light, $color-primary-dark );
    z-index: 1000;
    transition: transform 0.6s cubic-bezier(.79,.16,.28,.55);

    
    @include respond(tab-port){
      top: 4.5rem;
      right: 4.5rem;
    }
    @include respond(phone){
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav{
    height: 100vh;
    
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    width:  100%;
    opacity: 0;
    width: 0;
    transition: all .6s cubic-bezier(.79,.16,.28,.55);
    backface-visibility: hidden;

    @include respond(phone){
      visibility: hidden;
      width: 100%;
    }
    
    
  }

  &__list{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;

  }
  &__item{
    margin: 1rem;
  }

  &__link{
    &:link,
    &:visited{
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 3rem;
      color:$color-white;
      padding: 1rem;

      background-image: linear-gradient(120deg, transparent 50%, $color-white 50%);
      background-size: 260%;

      transition: all .3s;
      backface-visibility: hidden;

      span{
        margin-right: 1.5rem;
        display: inline-block;
      }

      @include respond(phone){
        font-size: 2rem;
      }

      &:hover,
      &:active{
        background-position: 100%;
        color: $color-primary;
        transform: translateX(1rem);
      }
    }
    
  }
  //Functionality
  &__check-box:checked ~ &__background{
    transform: scale(100);
  }
  &__check-box:checked ~ &__nav{
    width: 100%;
    opacity: 1;
    
    @include respond(phone){
      visibility: visible;
    }
  }


    //icon

  &__icon{
    position: relative;
    margin-top: 2.9rem;
    &,
    &::before,
    &::after{
      width: 2.7rem;
      height: 2px;
      background-color: $color-gray-dark;
      display: inline-block;
      transition: all 0.1s

    }
    &::before,
    &::after{
      content:"";
      position: absolute;
      left: 0;
      
    }
    &:before{
      top: -.8rem;
    }
    &:after{
      top: .8rem;
    }
  }

  &__check-box:checked ~ &__button  &__icon::after{
    transform: translatey(-.8rem) rotateZ(225deg);
  }
  &__check-box:checked ~ &__button  &__icon::before{
    transform: translatey(.8rem) rotateZ(135deg);
    
  }
  &__check-box:checked ~ &__button  &__icon{
    background-color: transparent;
  }

}