.img-block{
  position: relative;
  height: min-content;

  [class^=about-img]{
    position: absolute;
    width: 65%;
    // border: 0rem solid transparent;
    box-shadow: 0 1.5rem 4rem rgba($color-black,0.4);
    border-radius: 2px;
    transition: all .2s;
    z-index: 10;
    outline-offset: 1.5rem;


    @include respond(tab-port){
      float: left;
      position: relative;
      width: 33.333333333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black,0.2);

    }
  
    &:hover{
      outline: 1.5rem solid $color-primary;
      z-index: 15;
      transform: scale(1.05) translateY(-0.5rem);
      // border: 1rem solid $color-primary;
      
      box-shadow: 0 2.5rem 4rem rgba($color-black,0.5);
      
    }
  
      &[class$="--1"]{
        top: -2rem;
        left: 0%;
        

        @include respond(tab-port){
          top:0;
          transform: scale(1.2);
        }
      }
      &[class$="--2"]{
        top: 2rem;
        right: 0;

        @include respond(tab-port){
          top:-1rem;
          left: 0;
          transform: scale(1.3);
          z-index: 12;
        }
        
      }
      &[class$="--3"]{
        top: 10rem;
        left: 20%;
        

        @include respond(tab-port){
          top:0;
          left: 0;
          transform: scale(1.2);
        }
      }
  
  }

  &:hover [class^=about-img]:not(:hover){
    transform: scale(0.95);

    @include respond(tab-port){
      
      transform: scale(1.1);
    }
    
  }

}